<nav>
  <div style="background-color: greenyellow;font-size: large;">
    <a routerLink="/language" routerLinkActive="active">Languages</a> | 
    <a routerLink="/info" routerLinkActive="active">Information</a> | 
    <a routerLink="/products" routerLinkActive="active">Show Products</a>
  </div>
  <hr/>
  <!-- <ul>
    <li>
      <a routerLink="/language" routerLinkActive="active">Languages</a>
    </li>
    <li>
      <a routerLink="/info" routerLinkActive="active">Info</a>
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="active">Show Products</a>
    </li>
  </ul>  -->

</nav>


<div style="background-color: indianred; height: auto;width: auto;">
<router-outlet></router-outlet>
</div>