<div [hidden]="submitted" class="container">
    <h1>User Registration</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-row">
            <label for="name">Name</label>
            <!-- <smart-input required class="form-component" [(ngModel)]="model.name" name="name" id="name" #name="ngModel">
            </smart-input> -->
            <input type="text" required [(ngModel)]="model.name" name="name" id="name" #name="ngModel"/>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>

        <div class="form-row">
            <label for="address">Address</label>
            <input type="text" required [(ngModel)]="model.address" name="address" id="address" #address="ngModel"/>
            
        </div>
        <div class="form-row">
            <label for="phone">Phone</label>
            <input class="form-component" mask="+1 (###) ### - ####" [(ngModel)]="model.phone"
                name="phone" id="phone"/>
          
        </div>
        <div class="form-row" ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
            <label for="passwordInput1">Password</label>
            <input type="password" class="form-component" id="passwordInput1"
                placeholder="password" [(ngModel)]="password1" (change)="model.password=passwordA.value"
                #passwordA="ngModel" name="passwordA" required id="passwordA"/>
                <br>
       
            <label for="passwordInput2">Confirm Password</label>
            <input type="password" class="form-component" id="passwordInput2"
                placeholder="confirm password" [(ngModel)]="password2" #passwordB="ngModel" name="passwordB" required
                id="passwordB"/>
           
        </div>
        <div *ngIf="passwordB.invalid && (passwordA.dirty || passwordA.touched)" class="alert alert-danger">
            Please confirm your password.
        </div>
        <div *ngIf="passwords.errors?.passwordCheck && (passwordB.dirty || passwordB.touched)"
            class="alert alert-danger">
            Passwords do not match.
        </div>


        <!-- <div class="form-row">
            <label for="gender">Gender</label>
            <smart-drop-down-list required #gender="ngModel" class="form-component" [(ngModel)]="model.gender"
                name="gender" id="gender" required>
                <smart-list-item *ngFor="let gender of genderType" [value]="gender">{{gender}}</smart-list-item>
            </smart-drop-down-list>
            <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
                Gender is required
            </div>
        </div> -->



        <div class="form-row">
            <!-- <input [disabled]="!userForm.form.valid" type="submit" class="success item">Submit</input> -->
            <input type="submit" class="btn btn-success" [disabled]="!userForm.form.valid" value="Submit"/>
            <!-- <smart-button type="submit" ( userForm.reset()" class="primary item">New User -->
            <!-- </smart-button> -->
        </div>
    </form>
</div>

